<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--aop仅扫描到当前配置文件的包扫描！,我把applicationContext分开配置，所以我在这里也加了aop扫描-->
    <!--配置注解驱动-->
    <mvc:annotation-driven />
    <!-- 启动对@AspectJ注解的支持 -->
    <aop:aspectj-autoproxy />
    <!-- 扫描切点类组件 -->
    <aop:config proxy-target-class="true"></aop:config>
    <!--//放置切面实现类的包路径-->
    <context:component-scan base-package="epsilon.ssm.aspect"/>

    <context:component-scan base-package="epsilon.ssm.service" >
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

</beans>